@model AutoClaimInsuranceMVC.Models.Claim

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        height: 40px;
        width: 70px;
        font-size: medium;
    }
</style>



@using (Html.BeginForm("Index", "NonRegisteredUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br/>
    <br/>

  <div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 py-4 form border border-dark">
            <h2 class="text-center text-primary" style="font-family:Algerian">Claim Form</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row px-3"style="font-size:medium;font-family:'Book Antiqua'">
                <label class="col-4"> Insurer ID</label>
                @Html.EditorFor(model => model.insurerId, new { htmlAttributes = new { @class = "col form-control" } })
                @Html.ValidationMessageFor(model => model.insurerId, "", new { @class = "text-danger" })
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row px-3"style="font-size:medium;font-family:'Book Antiqua'">
                <label class="col-4"> Mail ID</label>
                @Html.EditorFor(model => model.MailID, new { htmlAttributes = new { @class = "col form-control" } })
                @Html.ValidationMessageFor(model => model.MailID, "", new { @class = "text-danger" })
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row px-3"style="font-size:medium;font-family:'Book Antiqua'">
                <label class="col-4"> Policy Number</label>
                @Html.EditorFor(model => model.policyNumber, new { htmlAttributes = new { @class = "col form-control" } })
                @Html.ValidationMessageFor(model => model.policyNumber, "", new { @class = "text-danger" })
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row px-3" style="font-size:medium;font-family:'Book Antiqua'">
            <label class="col-4" > Date and Time</label>
            <input class="col form-control" type="datetime-local" id="dateAndTime" name="dateAndTime">
            @Html.ValidationMessageFor(model => model.dateAndTime, "", new { @class = "text-danger" })
        </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row px-3"style="font-size:medium;font-family:'Book Antiqua'">
            <label class="col-4"> Police Case</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h7>Yes</h7> &nbsp;@Html.RadioButtonFor(m => m.policeCase, "Yes", new { htmlAttributes = new { @class = "col form-control ml-5" } })
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h7>No</h7>@Html.RadioButtonFor(m => m.policeCase, "No", new { htmlAttributes = new { @class = "policscase" } })
        </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row px-3"style="font-size:medium;font-family:'Book Antiqua'">
                <label class="col-6"> Loss or Damage due to</label>
                @Html.DropDownList("reason", new List<SelectListItem>
                   { new SelectListItem { Text = "Accident", Value = "Accident", Selected=true},
                     new SelectListItem { Text = "Manufacturing Defect", Value = "Manufacturing Defect"},
                     new SelectListItem { Text = "Natural calamity", Value = "Natural Calamity"},
                     new SelectListItem { Text = "Theft", Value = "Theft"}
                   }, new { htmlAttributes = new { @class = "btn btn-secondary btn-lg dropdown-toggle  mr-5 col form-control" } })
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row px-3"style="font-size:medium;font-family:'Book Antiqua'">
                <label class="col-4">Licence Copy </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                @Html.TextBox("fileLicense", "", new { type = "file", @class = "col form-control" }) <br />
                @ViewBag.Message

            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row px-3"style="font-size:medium;font-family:'Book Antiqua'">
                <label class="col-4">RC Copy </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                @Html.TextBox("fileRc", "", new { type = "file" ,@class = "col form-control" }) <br />
                @ViewBag.Message_two
            </div>
            <div class="form-group mt-5 text-center ">
                <input type="submit" value="Claim" class="btn btn-info" />
            </div>
            @if (@ViewBag.check == "success")
            {
                <script>alert("Claimed Successfully")</script>
            }
            @if(@ViewBag.check == "failed")
            {
            <script>alert("Already claimed in last 6 months")</script>
            }

        </div>
       
    </div>
    </div>
}
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
