<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Assure Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
    </script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">

    </script>
    <script src="~/Scripts/bootstrap.js"></script>
    <style>
        .landing {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /*background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/01/28/783664-insurance-istock-121118.jpg);
            background-size: cover;
            background-position: center;*/
        }

        .fill-height {
            box-sizing: border-box;
            min-height: 100vh;
        }
    </style>
</head>
<body class="pb-4">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand text-white" href="#" style="font-weight:bolder;font-size:30px;font-family:Garamond">
                <img src="~/Content/Logo.png" alt="LOGO" style="width:45px">
                ASSURE
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" style="font-size:medium" href="../User/Index">Registered User <i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" style="font-size:medium" href="../Officer/OfficerLogin">Officer <i class="fa fa-user-secret" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" id="navbarDropdownMenuLink" style="font-size:medium" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Non Registered User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../User/Register">Sign UP<i class="fa fa-user-plus" aria-hidden="true"></i></a>
                            <a class="dropdown-item" href="../NonRegisteredUser/Index">Claim <i class="fa fa-money" aria-hidden="true"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container">
        <div class="row">
            <div class="landing col-md-6" >
                <img src="~/Content/landing.png" style="width:100%" />
            </div>
            <div class="landing col-md-6">
                <div>
                    <h1>LOGO</h1>
                </div>
                <div>
                    <h1 class="display-3">ASSURE</h1>
                </div>
                <div>
                    <h3>
                        You're in good hands
                    </h3>
                </div>
            </div>
        </div>
    </section>
   
    <section class="p-4 jumbotron ">
        <div class="container my-5">
            <div class="row">
                <div class="offset-md-1 col-md-5 p-4">
                    <div class="border border-dark bg-light">
                        <img class="w-100" src="https://image.freepik.com/free-vector/businesses-watch-staff-presentation-video-through-web-conference-computer-virtual-office-concept-modern-flat-cartoon-style_197170-339.jpg" alt="OUR SERVICE IMAGE" style="height:270px;object-fit:cover">
                        <h3 class="text-center pt-3"> OUR SERVICES</h3>
                        <p class="text-justify p-3">
                            Sometimes life will be awesome. Sometimes, life will look blurry. Well,Assure Insurance act as a hedge against the uncertainties of life-
                            Avail cashless claim service at more than 5600+ authorized network garages all over the nation and covers third party damages involving your vehicle.
                            We provide coverage against damages caused from  manmade causes like  theft, accidental external damage, and  natural causes. The Auto Claim Insurance process will be easy to use as you can do it online whenever you have time with zero paper work.
                        </p>
                    </div>
                </div>
                <div class="col-md-5 p-4">
                    <div class="border border-dark bg-light">
                        <img class="w-100" src="https://cdn.nohat.cc/thumb/f/720/4884058720960512.jpg" alt="OUR SERVICE IMAGE" style="height:270px;object-fit:cover">
                        <h3 class="text-center pt-3"> LINK UP</h3>
                        <p class="text-justify p-3">
                            To get the benefit of a more transparent hassle free and quick turnaround time on your instance claim. When we say hassle-free, trust us to mean every syllable of it, what you would have to provide is therefore minimal. We realize that your time is precious, particularly during an emergency.
                            Thus our online Assure Insurance claims system has been designed keeping your ease in mind.
                            With a convenient insurance claim process, you can now register your claim, upload the necessary documents and get the benefit by sign up with a single step.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-4 m-0">
        <div class="row my-5">
            <div class="d-none d-md-block offset-md-1  col-md-5">
                <img class="w-100" src="~/Content/AboutUs.png" alt="ABOUT US IMAGE">
            </div>
            <div class="col-md-5 p-4">
                <div>
                    <h3 class="text-center">ABOUT US</h3>
                    <p class="text-justify">
                        The Assure Insurance is the largest publicly held personal lines property and casualty insurer dedicated to serving more than 16 million households insure in America.
                        Solving problems and creating solutions for our clients  with "You're In Good Hands with Assure Insurance” is not a slogan, it’s what we do every day and better prepare for tomorrow.
                        We embrace ever-changing technology and The Online Auto Claim process should be an easy to use   process which gives the insurer a quick response and appropriate solution.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
    <section class="p-4 jumbotron">
        <div class="row mb-5">
            <div class="offset-md-1 col-md-5 p-4">
                <br/>
                <br />
                <br />
                <h3 class="text-center">CONTACT US</h3>
                <br />
                <p class="text-justify text-center">
                    3645 Pennsylvania Avenue <br />
                    P.O. Box 2673   <br />
                    Weirton, WV 26073  <br />
                    Phone 112-723-7400  <br />
                    Fax 312-723-5629   <br/>
                    CIN - U19899WB8104G0I001317<br />
                </p>
            </div>
            <div class="col-md-5">
                <img class="w-100" src="~/Content/contact-us-concept-illustration_114360-2299.png" alt="ABOUT US IMAGE">
            </div>
        </div>
    </section>
     </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="mt-auto">
            <p>&copy; @DateTime.Now.Year -  Assure Insurance Pvt. Ltd.</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>
</body>

</html>

