<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Assure Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>
    <style>
        #container {
            display :flex;
            width: 70%;
            min-width: 1000px;
            margin: 100px auto;
            justify-content:space-between;
            flex-wrap:wrap;
        }

        #left {
            
            width: 20%;
            background: #ccc;
        }


        #right {
            
            width: 20%;
            background: #ccc;
        }

        .card{
            background-color:rgba(0,0,0,0)!important;
        }

        .card-text {
            color: lightcyan;
            opacity: unset;
            font-weight: 600;
            font-family: 'Baskerville Old Face';
        }
    </style>
</head>
<body style="background-image:url('/Content/bg.jpg');background-size:cover; opacity:0.5">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top px-0 py-0" style="height :70px;">
        <div class="navbar-brand">
            <div class="logo-image">
                <img src="~/Content/icon.png"
                     alt="" style="opacity:1; height:70px; ">
            </div>
           
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">

                

            </ul>
        </div>
    </nav>
    
       
        <div id="container">
            <div id="left" class="card "  style="width: 18rem;">
                <img class="card-img-top" src="~/Content/ORU SERVICES.png" alt="Card image cap" >
                <div class="card-body">
                    <p class="card-text">We are reinventing protection and retirement to help approximately 16 million households insure what they have today and better prepare for tomorrow.</p>
                    <a href="../Officer/OfficerLogin" class="btn btn-light" style="color:Highlight">Officer Login</a>
                    <a href="../NonRegisteredUser/Index" class="btn btn-light" style="color:Highlight; ">Claim</a>
                </div>
            </div>
            <div id="right" class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/service final.png" alt="Card image cap" height="170" width="300">
                <div class="card-body">
                    <p class="card-text">In a matter of minutes !!!! To get the benefit of a more transparent hassle free and quick turnaround time on your insurance claim. Sign Up with a single step.</p>
                    <a href="../User/Index" class="btn btn-light" style="color:Highlight; ">LogIn</a>
                    <a href="../User/Register" class="btn btn-light" style="color:Highlight; ">SignUP</a>
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  Assure Insurance Pvt. Ltd.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>
</body>

</html>

