<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Assure Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar alert-heading" >
        <div class="navbar-brand">
            Assure Insurance
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                @if (Session["UserId"] != null && Session["Role"].ToString() == "Admin")
                {
                    <li class="nav-item"><a href="/admin/" class="nav-link">Home <i class="fa fa-home"></i></a></li>
                    <li class="nav-item"><a href="/admin/create" class="nav-link">New Product<i class="fa fa-plus"></i></a></li>
                }
                else
                {
                    <li class="nav-item"><a href="../Home/Index" class="nav-link">Home </a></li>
                    <li class="nav-item"><a href="../User/Index" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="../User/Register" class="nav-link">Register</a></li>

                }
                @if (Session["UserId"] != null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hi @Session["Username"]<i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/@Session["Role"]/Settings">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../User/Logout">Logout <i class="fa fa-sign-out"></i></a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  ShoppingBag</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>
</body>

</html>

