<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Assure Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
  
       
</head>

<body style=" background-color: #88a3c0;opacity:1">
    <nav class="navbar navbar-expand-lg navbar-dark  float-top px-0 py-0" style="  height: 70px; background-color: #264a6e; opacity: 0.6">
        <div class="navbar-brand">
            <div class="logo-image">
                <img src="~/Content/icon.png"
                     alt="" style="opacity:0.8; height:70px; ">
            </div>

        </div>
        @if (Session["UserId"] != null)
        {
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="../User/InsuranceView">My Insurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../User/Logout">Logout</a>
                </li>
            </ul>
        }
        @if (Session["UserId"] == null && Session["officerId"] == null)
        {
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../User/HomePage">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        }
        @if (Session["officerId"] != null && Session["role"].ToString() == "Insurance officer")
        {
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="../Officer/InsuranceOfficerPage">View Claims</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Officer/Logout">Logout</a>
                </li>
            </ul>

        }
        @if (Session["officerId"] != null && Session["role"].ToString() == "Claim officer")
        {
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="../Officer/ClaimOfficerPage">View Claims</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Officer/Logout">Logout</a>
                </li>
            </ul>

        }
    </nav>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  Assure Insurance Pvt. Ltd</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>
</body>

</html>

