<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Assure Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style>
        #container {
            display: flex;
            width: 70%;
            min-width: 1000px;
            margin: 100px auto;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        #left {
            width: 20%;
            background: #ccc;
        }


        #right {
            width: 20%;
            background: #ccc;
        }

        .card {
            background-color: rgba(0,0,0,0) !important;
        }

        .card-text {
            color: lightcyan;
            opacity: unset;
            font-weight: 600;
            font-family: 'Baskerville Old Face';
        }
       
    </style>
</head>

<body style=" background-color: #88a3c0;opacity:1">
    <nav class="navbar navbar-expand-lg navbar-dark  float-top px-0 py-0" style="  height: 70px; background-color: #172b43; opacity: 0.5">
        <div class="navbar-brand">
            <div class="logo-image">
                <img src="~/Content/icon.png"
                     alt="" style="opacity:0.8; height:70px; ">
            </div>

        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
            </ul>
        </div>
    </nav>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            @if (Session["MailID"] != null)
            {
                <li class="nav-item"><a href="/admin/" class="nav-link">Logout <i class="fa fa-home"></i></a></li>
                <li class="nav-item"><a href="/User/InsuranceView" class="nav-link">My Insurances <i class="fa fa-home"></i></a></li>
            }
            else if (Session["MailID"] == null && Session["officerId"] == null)
            {
                <li class="nav-item"><a href="../User/Register" class="nav-link">Register<i class="fa fa-home"></i></a></li>
                <li class="nav-item"><a href="../User/Index" class="nav-link">Login<i class="fa fa-shopping-bag"></i></a></li>
                <li class="nav-item"><a href="../User/Logout" class="nav-link">Logout <i class="fa fa-shopping-cart"></i></a></li>

            }
            else
            {
                <li class="nav-item"><a href="../User/Logout" class="nav-link">Logout <i class="fa fa-shopping-cart"></i></a></li>
            }
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  Assure Insurance Pvt. Ltd</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>
</body>

</html>

