@model IEnumerable<AutoClaimInsuranceMVC.Models.Report>

@{
    ViewBag.Title = "AssessorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-primary" style="font-family:Algerian">Assessor Page</h2>



<table class="table table-striped">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.claim.insurerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.claim.insurerId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.reportDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>

        @Html.ActionLink("Details", "AssessorDetails", "Assessor", new { reportid = item.reportId, claimid = item.claimId }, null)

    </td>
</tr>
}

</table>
