@model IEnumerable<AutoClaimInsuranceMVC.Models.Claim>

@{
    ViewBag.Title = "InsuranceOfficerPage";
}
<h2 class="text-center text-primary" style="font-family:Algerian">Insurance Officer</h2>
<table class="table table-striped">
    <tr class=" table-primary"style="font-size:medium;font-family:'Book Antiqua'">
        <th>
            @Html.DisplayNameFor(model => model.insurer.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.policyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.policeCase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.claimDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-size:medium;font-family:'Book Antiqua'">
            <td>
                @Html.DisplayFor(modelItem => item.insurer.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.policyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.policeCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.claimDate)
            </td>
            <td>
                @Html.ActionLink("Verify", "Verify", new { claimId = item.claimId, policyNumber = item.policyNumber })
            </td>
        </tr>
    }

</table>


