@model AutoClaimInsuranceMVC.Models.Insurance

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
    <div class="container">
        <div class="offset-md-3 col-md-6 py-4 form border border-primary">
            <h2 class="text-center text-primary" style="font-family:Algerian">Verification Report</h2>
            <hr />
            @if (ViewBag.Exists == "Policy Exists")
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.insurer.firstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.insurer.firstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.coverage)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.coverage)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.startDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.startDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.endDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.endDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.vehilceRegistrationNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.vehilceRegistrationNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.chassisNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.chassisNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.model)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.model)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.valueInsured)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.valueInsured)
                    </dd>

                </dl>
            }
            @if (ViewBag.Exists == "Policy Exists")
            {

                @Html.ActionLink("Accept", "Accept", new { claimId = ViewBag.claimId }) @ViewBag.status}

            else
            {
                   @ViewBag.Exists
                <br /> @ViewBag.status
                @Html.ActionLink("Reject", "RejectInsurance", new { claimId = ViewBag.claimId })}
            <div>

            </div>

        </div>      
</div>
    