@model AutoClaimInsuranceMVC.Models.Claim

@{
    ViewBag.Title = "Claim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Claim", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 class="heading text-center">Claim</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    
    <div class="form-group">
        @Html.LabelFor(model => model.dateAndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dateAndTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dateAndTime, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.policeCase, htmlAttributes: new { @class = "control-label col-md-2 " })
        <div class="col-md-10">
            <h7>Yes</h7>@Html.RadioButtonFor(m => m.policeCase, "Yes", new { htmlAttributes = new { @class = "policecase" } })
            <h7>No</h7> @Html.RadioButtonFor(m => m.policeCase, "No", new { htmlAttributes = new { @class = "policecase"} })

            @Html.ValidationMessageFor(model => model.policeCase, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.reason, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 ">
            @Html.DropDownList("reason", new List<SelectListItem>
           { new SelectListItem { Text = "Accident", Value = "Accident", Selected=true},
             new SelectListItem { Text = "Manufacturing Defect", Value = "Manufacturing Defect"},
             new SelectListItem { Text = "Natural calamity", Value = "Natural Calamity"},
             new SelectListItem { Text = "Theft", Value = "Theft"}
           })

        </div>
    </div>


    <div>
        @Html.LabelFor(model=>model.licenseCopy,htmlAttributes:new { @class = "control-label col-md-2" })
        @Html.TextBox("fileLicense", "", new { type = "file" }) <br />
        @ViewBag.Message
    </div>

    <div>
        @Html.LabelFor(model => model.rcCopy, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBox("fileRc", "", new { type = "file" }) <br />
        @ViewBag.Message_two
    </div>



    <div class="form-group">
        <div class="text-lg-left col-md-12">
            <input type="submit" value="Create" class="btn btn-info" />
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to Policies", "InsuranceView")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
