@model IEnumerable<AutoClaimInsuranceMVC.Models.Claim>

@{
    ViewBag.Title = "ClaimProgress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-primary" style="font-family:Algerian">Claim Progress</h2>


<table class="table table-striped">
    <tr class="table-primary"style="font-size:medium;font-family:'Book Antiqua'">
        <th>
            @Html.DisplayNameFor(model => model.insurer.firstName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.policyNumber)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.claimDate)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr style="font-size:medium;font-family:'Book Antiqua'" >
        <td>
            @Html.DisplayFor(modelItem => item.insurer.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.policyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.claimDate)
        </td>
        <td>
           
            @Html.ActionLink("Details", "ClaimDetails", new { claimId=item.claimId,style="color:blue"}) 
           
        </td>
    </tr>
}

</table>
