@model AutoClaimInsuranceMVC.Models.Claim

@{
    ViewBag.Title = "ClaimDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/bootstrap.js"></script>
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 py-4 form border border-primary">
            <h2 class="text-center text-primary" style="font-family:Algerian">Claim Details</h2>
            <hr />
            <dl class="dl-horizontal"style="font-size:medium;font-family:'Book Antiqua'">
                <dt>
                    @Html.DisplayNameFor(model => model.insurer.firstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.insurer.firstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MailID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MailID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.policyNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.policyNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.reason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.reason)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dateAndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dateAndTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.policeCase)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.policeCase)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.claimDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.claimDate)
                </dd>

            </dl>
            </div>
        </div>
        </div>
        <script>
            function Assign(officerId, claimId) {
                $.post("../ClaimOfficer/Assign", { officerId, claimId }, function (response, status) {
                    alert("success")
                    if (status == "success")
                        location.href = "/ClaimOfficer/ClaimProgress"
                })
            }
        </script>
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6 py-4 form border border-primary">
                    <h2 class="text-center text-primary" style="font-size:medium; font-family:'Book Antiqua';">Assign</h2>
                    @foreach (var obj in ViewBag.Assessor)
                    {
                        <button class="btn-outline btn-outline-primary" id="list-home-list" data-toggle="list" onclick="Assign(@obj.officerId , @Model.claimId)">  @obj.firstName<span class="badge badge-primary badge-pill">@obj.officerId</span></button>
                       
                    }
                </div>
                </div></div>
              
