@model AutoClaimInsuranceMVC.Models.Claim

@{
    ViewBag.Title = "ClaimOfficerPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .card-deck {
            display: flex;
            width: 70%;
            min-width: 1000px;
            margin: 100px auto;
            justify-content: space-between;
            flex-wrap: wrap;
             
        }
        .card {
            background: rgba(0,0,0,0) !important;
        }
        
    </style>

}



<div class="card-deck">
    <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">Pending Claims</h5>
            <br />
            <p class="card-text"><a href="../ClaimOfficer/ClaimProgress" class="btn btn-outline-secondary " style="color:midnightblue">View All</a></p>
            <br />
            <p class="card-text"> &nbsp; <i class="fa fa-bell" aria-hidden="true"></i> &nbsp; @ViewBag.progress</p>
            <p class="card-text"><small class="text-muted">Last updated @DateTime.Now</small></p>
        </div>
    </div>
    <div class="card">
       
        <div class="card-body">
            <h5 class="card-title">Reports</h5>
            <br />
            <p class="card-link "><a href="../Officer/OfficerLogin" class="btn btn-outline-secondary" style="color:midnightblue">View All</a></p>
            <br />
            <p class="card-text"> &nbsp; <i class="fa fa-bell" aria-hidden="true"></i> &nbsp; @ViewBag.evaluated</p>
            <p class="card-text"><small class="text-muted">Last updated @DateTime.Now</small></p>
        </div>
    </div>
    <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">Accepted Claims</h5>
            <br />
            <p class="card-text"><a href="../Officer/OfficerLogin" class="btn btn-outline-secondary" style="color:midnightblue">View All</a></p>
            <br />
            <p class="card-text"> &nbsp; <i class="fa fa-bell" aria-hidden="true"></i> &nbsp; @ViewBag.claimed</p>
            <p class="card-text"><small class="text-muted">Last updated @DateTime.Now</small></p>
        </div>
    </div>
</div>