@model IEnumerable<AutoClaimInsuranceMVC.Models.Report>

@{
    ViewBag.Title = "CompletedReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-primary" style="font-family:Algerian">Completed Report</h2>



<table class="table table-striped ">
    <tr class="table-primary"style="font-size:medium;font-family:'Book Antiqua'">
        <th>
            @Html.DisplayNameFor(model => model.claim.insurerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="font-size:medium;font-family:'Book Antiqua'">
        <td>
            @Html.DisplayFor(modelItem => item.claim.insurerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.ActionLink("Accept", "AcceptClaim", new { claimId=item.claimId,reportId=item.reportId}) 
            @Html.ActionLink("Reject", "RejectClaim", new { claimId = item.claimId, reportId = item.reportId}) 
        </td>
    </tr>
}

</table>
